<div class="container">
    <div class="img" fxLayout="row">
        <div class="imageClass" fxLayout="center center">
            <img src="../../../assets/images/2766594.png" class="image" alt="Logo">
            <h3 class="img-text">Online Book Shopping</h3>
        </div>

        <div class="tab">
            <label class="labels">
                <a routerLink="/loginandSiginup/login">
                    <div class="login">
                        LOGIN
                    </div>
                </a>
                <a routerLink="/loginandSiginup/signup">
                    <div class="login">
                        SIGNUP
                    </div>
                </a>
            </label>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>