<div class="container">
    <div class="img" fxLayout="row">
        <div class="imageClass" fxLayout="center center">
            <img src="../../../assets/images/2766594.png" class="image" alt="Logo">
            <h3 class="img-text">Online Book Shopping</h3>
        </div>

        <div class="tab">
            <label class="labels">
                <a routerlink=".">
                    <div class="login">
                        LOGIN
                    </div>
                </a>
                <div class="login">
                    SIGNUP
                </div>
            </label>
            <app-login></app-login>
        </div>
    </div>
</div>