<div class="img" fxLayout>
    <div class="imageClass" fxLayout="center center">
        <img src="../../../assets/images/2766594.png" class="image" alt="Logo">
    </div>
</div>
<div class="tab">
    <form class="clr-form clr-form-vertical">
        <div class="form-group">
            <input type="email" placeholder="Email">
        </div>
        <div class="form-group">
            <input type="password" placeholder="Password">
        </div>
        <button type="button" class="btn btn-primary">Login</button>
    </form>
    <form class="clr-form clr-form-vertical">
        <div class="form-group">
            <input type="text" placeholder="FullName">
        </div>
        <div class="form-group">
            <input type="email" placeholder="Email">
        </div>
        <div class="form-group">
            <input type="password" placeholder="Password">
        </div>
        <div class="form-group">
            <input type="tel" placeholder="Mobile Number">
        </div>
        <button type="button" class="btn btn-primary">Signup</button>
    </form>
</div>