<header class="toolbar">
    <div class="container" fxFlex=80>
        <div class="partone">
            <img src="../../../assets/icons/education.svg" alt="" class="image">
            <span class="text" (click)="redirect()">BookStore</span>
        </div>
        <div class="form-group">
            <input type="text" class="search" placeholder="Search">
        </div>
        <div class="lastpart">
            <figure class="profilediv">
                <img src="../../../assets/icons/user.svg" alt="profile" [matMenuTriggerFor]="menu" class="profileimg">
                <figcaption class="profiletext">Profile</figcaption>
                <mat-menu #menu="matMenu">
                    <div mat-menu-item routerLink="/wishlist">Get Wishlist</div>
                    <div mat-menu-item>Logout</div>
                  </mat-menu>
            </figure>
            <figure routerLink="/cart" class="cart1">
                <div>
                    <img src="../../../assets/icons/supermarket.svg" alt="cart" class="cartimg">
                    <figcaption class="carttext">Cart</figcaption>
                </div>
                <span class="cart2">{{childMessage}}</span>
                <span class="cart2">{{childMessages}}</span>
            </figure>
        </div>
    </div>
</header>