<form class="clr-form clr-form-vertical" id="login-form" [formGroup]="form" (ngSubmit)="submit()">
    <div class="password" fxLayout="row" fxLayoutAlign="start center">
        <clr-input-container class="input-container">
            <label>Full Name</label>
            <input clrInput formControlName="name" placeholder="Enter FullName" name="name" size="28" required />
            <clr-control-error *clrIfError="'required'">This field is required!</clr-control-error>
        </clr-input-container>
    </div>

    <div class="password" fxLayout="row" fxLayoutAlign="start center">
        <clr-input-container class="input-container">
            <label>Email Id</label> 
            <input clrInput type="email" formControlName="email" placeholder="Enter Email" name="email" size="28" required />
            <clr-control-error *clrIfError="'required'">This field is required!</clr-control-error>
        </clr-input-container>
    </div>

    <div class="password" fxLayout="row" fxLayoutAlign="start center">
        <clr-password-container class="input-container">
            <label>Pasword</label>
            <input clrPassword placeholder="Enter Password" formControlName="password" name="password" required />
            <clr-control-error *clrIfError="'required'">This field is required!</clr-control-error>
            <clr-control-error *clrIfError="'minlength'">It must be at least 8 characters!
            </clr-control-error>
        </clr-password-container>
    </div>

    <div class="password" fxLayout="row" fxLayoutAlign="start center">
        <clr-input-container class="input-container">
            <label>Mobile Number</label>
            <input clrInput formControlName="mobileNo" placeholder="Enter Mobile Number" name="mobileNo" size="28"  required />
            <clr-control-error *clrIfError="'required'">This field is required!</clr-control-error>
        </clr-input-container>
    </div>
    <div class="button">
        <button type="submit" class="btn btn-secondary">SignUp</button>
    </div>
</form>