::ng-deep clr-input-container .clr-control-container {
    display: block;
    width: 100%;
  } 
  
#login-form{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 5%;
}

.input-container{
    width: 100%;
    padding-top: 5%;
}
.forgot{
    text-align: right;
}
.button{
    width: 80%;
    padding-top: 5%;
}

.btn{
    background: #A03037;
    color: white;
    font-family: 'Roboto', sans-serif;
    width: 100%;
}

.form-group{
    display: flex;
    flex-direction: column;
    padding-bottom: 2%;
}

span{
    font-size: smaller;
    color: black;
    font-weight: 500;
}


input{
    width: 150px;
}