.main-place{
    padding-bottom: 3%;
    height: 89%;
    overflow-y: scroll;
}

.place{
    width: 57%;
    height: fit-content;
    border: 1px solid gray;
    margin-left: 11%;
    margin-top: 3%;
    margin-bottom: 2%;
}

.cardbox{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1%;
    width :18%;
    margin-left: 3%;
    color: black;
}

.parttwo{
    padding-top: 2%;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;  
}

.img1{
    width: 109px;
    height: 125px;
    padding: 10px;
} 
.book{
    margin-left: 2%;
}

.detail{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.line1{
    margin-left: 15px;
    font: normal normal normal 15px/19px Roboto;
    letter-spacing: 0px;
    color: #0A0102;
    opacity: 1;
}
.line2{
    margin-left: 15px;
    font: normal normal normal 12px/13px Roboto;
    letter-spacing: 0px;
    color: #878787;
    opacity: 1;
}

.detail{
    margin: 10px;
    width: 15%;
}
.iconss{
    display: flex;
    padding-left: 10%;
    padding-top: 2%;
    font-weight: 500;
}

.iconss:hover{
    cursor: pointer;
}
// .icons{
//     padding-left: 5%;
//     color: black;
//     width: 50px;
// }

.placebutton{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-bottom: 2%;
    margin-right: 2%;
}

.btn{
    background: #3771b4;
    width: 20%;
    color: white;
    font-size: small;
}

.text{
    margin-left: 4%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 2%;
    justify-content: flex-start;
}

.texts{
    margin-left: 4%;
    padding-top: 2%;
}

.undisplayed{
    width: 57%;
    height: 60px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #DCDCDC;
    border-radius: 1px;
    opacity: 1;
    margin-left: 11%;
    padding-left: 2%;
    padding-top: 1%;
}

.customerpart{
    display: flex;
    flex-direction: column;
    width: 80%;
    padding-top: 3%;
}

.form-block{
    width: 40%;
    display: flex;
    color: black;
}

.form-blocks{
    display: flex;
    color: black;
}

.texts{
    width: 69%;
}

.form-blockss{
    display: flex;
    flex-direction: column;
    padding-top: 3%;
    padding-left: 5%;
}

.type{
    margin-left: 4%;
    margin-top: 2%;
}

.radios{
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin-left: 4%;
    margin-top: 2%;
}

.detaillabel{
    font-size: large;
    font-weight: 500;
    padding-top: 1.5%;
}

.quant{
    display: flex;
    width: 120%;
    justify-content: space-between;
    padding-top: 15%;
    padding-left: 8%;
    color: black;
    height: 35%;
}

.quants{
    width: 30%;
    text-align: center;
    color: black;
    opacity: .5;
}

.incre{
    border-radius: 100%;
    opacity: .5;
}

.line11{
    margin-left: 15px;
    margin-top: 2%;
}

.example-full-width, .remain{
    width: 80%;
    color: black;
}

.example-full-widths{
    width: 160%;
    color: black;
}

@media screen and (max-width: 500px) {
    .main-place{
        height: 85%;
    }

    .cardbox{
        width: 50%;
        flex-direction: row;
    }

    .place{
        width: 100%;
        margin-left: 0%;
    }

    .undisplayed{
        width: 100%;
        margin-left: 0%;
    }

    .parttwo{
        width: 50%;
        flex-direction: column;
    }

    .detail{
        width: 70%;
    }

    .btn{
        width: 50%;
    }

    .customerpart{
        width: 100%;
        padding-bottom: 5%;
    }

    .radios{
        width: 70%;
    }

    .text{
        flex-direction: column;
    }

    .example-full-width{
        width: 160%;
    }

    .form-block{
        width: 72%;
    }
}