<app-header></app-header>
<div class="container">
    <div class="order">
        <img src="../../../assets/images/order.png" class="image"  alt="order placed">
    </div>
    <div class="text">
        hurray!!! your order is confirmed<br> the order id is
        #123456 save the order id for<br> further
        communication..
    </div>
    <div class="table">
        <table class="main-table">
            <tr class="head">
                <th>Email Us</th>
                <th>Contact Us</th>
                <th>Address</th>
            </tr>
            <tr class="row">
                <td>admin@bookstore.com</td>
                <td>+91 8163475881</td>
                <td>42, 14th Main, 15th Cross, Sector 4 ,opp to BDA complex, near Kumarakom restaurant, HSR Layout,
                    Bangalore
                    560034</td>
            </tr>
        </table>
    </div>
    <div class="btnsss">
        <button class="button" routerLink="/dashboard">CONTINUE SHOPPING</button>
    </div>
</div>
<app-footer></app-footer>